.carousel .slide{
  background-color: #dfe3e3 !important;
}
.carousel img{
  width: 55% !important;
}

.loader{
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.sidebar {
height: 100%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(209, 1, 3);
overflow-x: hidden;
}

.sidebar a {
display: block;
color: white;
padding: 16px;
text-decoration: none;
}

.sidebar a.active {
background-color: #343a40;
color: white;
text-decoration: none;
}

.sidebar a:hover {
background-color: #8e8c8c;
color: white;
text-decoration: none;
}
.card-footer{
  background-color: #2d3451 !important;
}

.top-menu{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 4rem;
  background: rgb(209, 1, 3);
}
.top-menu .title h2{
  font-size: 1.8rem;
  color: #fff;
}

.conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conteudo form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 5px 11px 5px #d6d6d6;
  margin-top: 6rem;
}
.conteudo .input-field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.conteudo .leaflet-container{
  width: 100% !important;
  height: 350px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px;
  z-index: 0;
}

.conteudo .add{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 17px;
    background-color: rgb(209, 1, 3);
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
  display: flex;
  margin-right: 1rem;
  color: #fff;
  font-size: 1.5rem;
}

.card-img-top{
  height: 50vh;
}


@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .sidebar a {
    float: left;
  }

  .conteudo .add{
    right: 10px;
  }
}


@media (max-width: 500px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .card{
    width: 95% !important;
  }

  .conteudo .add{
    right: 5px;
  }
  .conteudo form {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1024px){
  .conteudo form{
    margin-left: 8rem;
    margin-right: 8rem;
  }
}